<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">

<head>
  <meta charset="windows-1256" />
  <title>Modifier Produit</title>
</head>

<body>
  <div layout:fragment="content">
    <div class="container border mt-3 px-4 py-3">
      <h2 th:if="${produit.idProduit}" class="text-center m-4">Modifier Produit N° <span
          th:text="${produit.idProduit}"></span></h2>
      <div th:unless="${produit.idProduit}" class="card-header">
        <h1 class="text-center">Ajouter Produit</h1>
      </div>
      <div th:text="${msg}" th:if="${msg}" class="alert alert-success my-3" role="alert"></div>
      <form th:action="${produit.idProduit} ? 'updateProduit' : 'saveProduit'" method="post">
        <div class="mb-3">
          <!-- <label for="id_input" class="form-label">Id</label> -->
          <input name="idProduit" type="text" class="form-control" id="id_input" th:value="${produit.idProduit}" hidden>
        </div>
        <div class="mb-3">
          <label for="name_input" class="form-label">Nom</label>
          <input name="nomProduit" type="text" class="form-control" id="name_input" placeholder="Nom Produit"
            th:value="${produit.nomProduit}" required>
          <span th:errors="${produit.nomProduit}" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="price_input" class="form-label">Prix</label>
          <input name="prixProduit" type="number" class="form-control" id="price_input" placeholder="Prix Produit"
            min="0" step="any" th:value="${produit.prixProduit}" required>
          <span th:errors="${produit.prixProduit}" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="date_input" class="form-label">Date</label>
          <input name="date" type="date" class="form-control" id="date_input" th:value="${produit.dateCreation}"
            required>
          <span th:errors="${produit.dateCreation}" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="categorie_input" class="form-label">Categorie</label>
          <select name="categorieProduit" class="form-control" id="categorie_input" required>
            <option th:if="${produit.idProduit}" th:value="${categorie.idCat}" th:each="categorie: ${categories}"
              th:text="${categorie.nomCat}" th:selected="${produit.categorie.idCat == categorie.idCat}">
            </option>
            <option th:unless="${produit.idProduit}" th:value="${categorie.idCat}" th:each="categorie: ${categories}"
              th:text="${categorie.nomCat}">
            </option>

          </select>
        </div>
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Modifier <i class="bi bi-check-circle"></i></button>
          <a href="ListeProduits" class="btn btn-success"><i class="bi bi-list-ul"></i> Liste Produits</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>